@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #282D35;

}
.Navbar {
  display: flex;
  background-color: #21222A;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header {
  color: #61DAFB;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  margin-left: 5.5rem;
  position: absolute;
}
.description {
  color: #DEEBF8;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin-right: 1rem;
  font-weight: 600;
}
.logo {
  height: 60px;
  align-items: center;
  margin: 1rem 0 1rem 1rem;
}
.body-title {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 3rem; 
  margin-left: 2rem;
  margin-bottom: 0;
  letter-spacing: -0.05em;
}
ul {
  font-family:'Inter:wght@400', sans-serif;
  color: white;
  font-size: 1.5rem; 
  line-height: 3.5rem;
  margin-left: 2rem;
  width: 50vw;
}
li::marker {
  color: #61DAFB;
  font-size: 1.5rem;
}
.main-container {
  background-image: url(./images/reactjs-icon.png);
  background-repeat: no-repeat;
  background-position: right 42%;
  background-size: 200px;
}
.main--img {
  margin-left: 81.5vw;
  margin-top: 0;
  width: 300px;
}

